# Atur perilaku default, jika orang tidak mengatur core.autocrlf.
* text=auto

# Deklarasikan file teks secara eksplisit yang Anda ingin selalu dinormalisasi dan dikonversi
# menjadi akhiran baris asli saat checkout.
*.c text
*.h text

# Deklarasikan file yang akan selalu memiliki akhiran baris LF saat checkout.
*.sh text eol=lf

# Tandai semua file yang benar-benar biner dan tidak boleh diubah.
*.jpg binary
*.png binary
*.gif binary
*.svg binary