@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
}

a{
  text-decoration: none;
  font-family: "Poppins";

}

body{
  background-color: #efefea;
  font-family: "Poppins";
}

.project {
    max-width: 1200px;
    background-color: white;
    margin: 20px auto;
    /* padding: 40px; */
    border-radius: 5px;
  }
  
  .project .judul h1 {
    padding-top: 20px;
    font-size: 30px;
    font-family: "Poppins";
    text-align: center;
  }
  
  .project .judul p {
    margin: 10px 60px;

    text-align: center;
  }
  
  .project .projek-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
  }
  
  .project .projek-content .projek {
    background-color: #efefea;
    padding: 10px;
    border-radius: 5px;
  }
  
  .project .projek-content .projek .img-projek {
    width: 350px;
    object-fit: cover;
    transition: 0.3s;
  }
  
  .project .projek-content .projek .img-projek:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  
  .project .projek-content .project-desk a {
    color: black;
  }
  .project .projek-content .project-desk a:hover {
    color: #1d4ed8;
    text-decoration: underline;
  }
  
  .project .projek-content .project-desk p {
    color: #6a6a6a;
    font-size: 12px;
    font-family: "Poppins";
  }
  
  .project .projek-content .popup-img {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
  }
  
  .project .projek-content .popup-img span {
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 40px;
    /* font-weight: bolder; */
    color: #fff;
    cursor: pointer;
    z-index: 1000;
  }

  span{
    color: blue;
  }
  
  .project .projek-content .popup-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
  }
  
  .project .v {
    color: white;
    background-color: #1d4ed8;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
  }
  
  .project .v:hover {
    background-color: #1e40af;
    text-decoration: underline;
  }