@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap");

:root {
  --pri: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins";
  background-color: #efefea;
  padding: 1.2rem;
  height: 4000px;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #aaa;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Bricolage Grotesque", sans-serif;
  color: blue;
}

.navbar .navbar-logo span {
  color: black;
}

.navbar .navbar-nav a {
  color: rgb(106, 106, 106);
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  margin: 0 0.5rem;
  font-weight: 700;
  transition: 0.3s;
}

.navbar .navbar-nav a i {
  font-size: 1.2rem;
}

.navbar .navbar-nav a:hover {
  color: #333;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.navbar .navbar-extra a {
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--pri);
}

#hamburger {
  display: none;
}

/* End Navbar */

/* Header */

header {
  max-width: 1200px;
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  padding-top: 2rem;
  /* position: absolute; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .content h1 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h1 span {
  color: blue;
  font-family: "Bricolage Grotesque", sans-serif;
}

header .content p {
  margin-bottom: 2rem;
  color: #555;
}

header .image {
  position: static;
}

header .image img {
  max-width: 600px;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: #1e40af;
  text-decoration: underline;
}

/* End Header */

/* About */

.about {
  margin: auto;
  max-width: 1200px;
  padding: 40px;
  background-color: white;
}

.about-me {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me img {
  width: 250px;
  border-radius: 10px;
}

.about-text {
  width: auto;
  margin-left: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
}

.about-text h2 {
  color: #333;
  font-size: 65px;
  margin-bottom: 20px;
  border-bottom: 3px solid #1d4ed8;
}

.about-text h5 {
  color: #333;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 12px;
}

.about-text p{
  color: #555;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 28px;
  font-size: 18px;
  /* margin-top: 35px; */
  text-align: justify;
}

/* End About */

@media (max-width: 768px) {
  #hamburger {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 90%;
    left: -100%;
    background-color: white;
    width: 25rem;
    height: 100vh;
    transition: 0.8s;
  }

  .navbar .navbar-nav.active {
    left: 0;
  }

  .navbar .navbar-nav a {
    font-size: 1.4rem;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .navbar-nav a i {
    font-size: 1.6rem;
  }

  header {
    grid-template-columns: repeat(1, 1fr);
  }
  header .content p {
    text-align: justify;
  }
  header .image {
    grid-area: 1/1/2/2;
  }
  header .image img{
    width: 100%;
  }

  .about-me {
    flex-direction: column;
  }
  .about-me img{
    width: 100%;
  }
  .about-text h2{
    margin-top: 20px;
  }
  .about-text h5{
    margin-bottom: 12px;
  }
  
}

/* HP */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  header .content{
    width: 100%;
  }
  header .content p {
    text-align: justify;
    font-size: 15px;
  }
  header .image img {
    width: 100%;
    
  }

  .about-me img{
    width: 100%;
  }
  .about-text h2{
    font-size: 50px;
  }
  .about-text p{
    font-size: 16px;
  }
  .about-text{
    margin: 0;
    width: 100%;
  }
}
