@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap");

:root {
  --pri: #b6895b;
  --bg: #010101;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins";
  background-color: #181818;
}
/* nav */
.navbar {
  max-width: 1200px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 374109;
  margin: 0 auto;
  transition: .3s;
  border-radius: 0 0 10px 10px;
}

.navbar.scrolled {
  background-color: rgba(.2, 1, 1, 0.5);
  /* border: 2px solid #1d4ed8; */
  box-shadow: 3px 3px 5px #111;

}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: #1d4ed8;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: auto 1rem;
  font-weight: 700;
}

.navbar .navbar-nav a:hover {
  color: #1d4ed8;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #1d4ed8;
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #1d4ed8;

}

#hamburger {
  display: none;
}
/* end nav */

/*------------------------------------------------------------------------------ button -----------------------------------------------------------------------------*/

.button {
  display: block;
  border: 0;
  position: relative;
  cursor: pointer;
}

.button .button1 {
  background-color: #1d4ed8;
  position: relative;
  overflow: hidden;
}

.button a {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: #ece8e1;
  text-transform: uppercase;
  z-index: 2;
  padding: 20px 70px;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 50%;
  background-color: transparent;
  border: 1px solid #1d4ed8;
  left: -2.5%;
  z-index: -1;
}

.button::before {
  border-bottom: 0;
  top: -10%;
}

.button::after {
  border-top: 0;
  bottom: -10%;
}

.button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 120%;
  height: 110%;
  background-color: rgb(15, 25, 35);
  transform: translateX(-105%) skew(-10deg);
  transition: 0.5s ease;
}

.button:hover span {
  transform: translateX(-5%) skew(-10deg);
}

/*------------------------------------------------------------------------ end button ------------------------------------------------------------------------------*/

.container {
  max-width: 1200px;
  margin: 75px auto 0;
  padding: 5rem 2rem 10rem 2rem;
}

.blur {
  position: absolute;
  box-shadow: 0px 0px 350px 80px #1d4ed8;
  z-index: -100;
}

header {
  position: relative;
  padding-top: 2rem;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  align-items: center;
  gap: 2rem;
}

header .content h4 {
  color: #ccc;
  font-size: 2rem;
  font-weight: 600;
}

header .content h1 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

header .content p {
  color: #ccc;
  margin-bottom: 2rem;
}

/* Container */

.about {
  margin: auto;
  padding: 5rem 0 11rem 0;
}

.penghalang {
  background-color: transparent;
  padding-top: 35px;
}

.about-me {
  width: 1100px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around; */
}

.about-me img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  /* width: 330px;
    height: auto;
    border-radius: 10px; */
}

.about-text {
  width: auto;
  margin-left: 20px;
}

.about-text h2 {
  color: #fff;
  font-size: 65px;
  margin-bottom: 20px;
  border-bottom: 3px solid #1d4ed8;
}

.about-text h2 span,
h5 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.about-text h5 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
}

p {
  color: #ccc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  /* text-align: justify; */
}

/* end about */

/*------------------------- Pendidikan ---------------------------  */

.pendidikan {
    /* margin: 5.5rem; */
    padding: 6.5rem 0;
}

.pendidikan .header {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.pendidikan .header span,
.my-skil h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.penghalang2 p {
  color: transparent;
}

.riwayat-pendidikan {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 4rem 2rem;
}

.pendidikan .riwayat-pendidikan .card .tk {
  width: 150px;
  margin-bottom: 20px;
}

.pendidikan .riwayat-pendidikan .card .sd {
  width: 100px;
  margin-bottom: 20px;
}

.pendidikan .riwayat-pendidikan .card .smp {
  width: 100px;
  margin-bottom: 20px;
}

.riwayat-pendidikan .card {
  background-color: #272727;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.riwayat-pendidikan .card:hover {
  background-color: #323232;
  border-color: #fff;
}

.riwayat-pendidikan .card span {
  display: inline-block;
  background-color: #1d4ed8;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px;
}

.riwayat-pendidikan .card h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.riwayat-pendidikan .card a {
  color: #fff;
  transition: all 0.3s ease;
}

.riwayat-pendidikan .card a:hover {
  color: #1d4ed8;
}

.riwayat-pendidikan .card p {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 13px;
  /* text-align: center; */
  text-transform: capitalize;
}

/*------------------------- end Pendidikan ---------------------------  */

/* --------------------------- Skil --------------------------------------------------------------- */

.skil {
    padding: 4rem 0;
}

.my-skil {
  width: 55rem;
  margin: 100px auto 200px;
  color: #fff;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #272727;
  border-radius: 15px;
}

.my-skil h1 {
  text-align: center;
  font-size: 2.5rem;
}

.my-skil h3 {
  margin: 5px;
}

.my-skil li {
  margin: 20px 0;
  padding: 10px;
}

.bar {
  background-color: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}

.bar span {
  text-align: end;
  /* margin-bottom: 5px; */
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(135deg, #1d4ed8 0%, rgb(103, 120, 252) 100%);
}

.html {
  width: 90%;
  animation: html 2s;
}

.css {
  width: 60%;
  animation: css 2s;
}

.js {
  width: 10%;
  animation: js 2s;
}

/* --------------------------- end skil --------------------------------------------------------------- */

/* -------------------------------------------------------- footer ------------------------------------------- */

footer {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
  border-top: 5px solid #1d4ed8;
}

footer .colum .logo {
  max-width: 100px;
  margin-bottom: 2rem;
}

footer .colum p {
  color: #ccc;
  margin-bottom: 2rem;
  font-size: 15px;
}

footer .colum .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .colum .socials a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

footer .colum .socials a:hover {
  color: #fff;
  background-color: #1d4ed8;
  border-color: #1d4ed8;
}

footer .colums h4 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

footer .colums > a {
  display: block;
  color: #ccc;
  margin: 1rem;
  transition: all 0.3s ease;
}

footer .colums > a:hover {
  color: #1d4ed8;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

/* -------------------------------------------------------- end footer ------------------------------------------- */

@media (width < 1200px) {
  .about-text {
    padding-left: 10px;
  }
}

@media screen and (max-width: 893px) {
  .container {
    max-width: 893px;
  }
  .nav-link {
    display: none;
  }
  header {
    grid-template-columns: repeat(1, 1fr);
  }
  .box .card {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .tombol {
    display: flex;
    justify-content: center;
  }
  .about-me img {
    display: flex;
    align-items: center;
    margin: 0 auto 30px auto;
  }
  .about-text {
    text-align: center;
  }
  .about-text p {
    text-align: justify;
  }
  .riwayat-pendidikan {
    flex-wrap: wrap;
    margin: 0 2rem;
  }
  .my-skil {
    width: 50rem;
  }
  footer {
    grid-template-columns: 1fr 200px;
  }

  #hamburger {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(.2, 1, 1, 0.5);
    /* border: 2px solid #1d4ed8; */
    box-shadow: 3px 3px 5px #111;
    height: 100vh;
    transition: 0.8s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    font-size: 1.4rem;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }
}

@media screen and (max-width: 600px) {
  .address iframe {
    width: 350px;
  }

  .address .text {
    font-size: 20px;
  }

  .tombol {
    display: flex;
    justify-content: center;
  }

  .about-text {
    padding-right: 30px;
  }

  footer {
    grid-template-columns: 1fr 150px;
    font-size: 15px;
  }
  .colum p {
    font-size: 15px;
  }
  .socials a span {
    font-size: 20px;
  }
  .nav-logo a {
    font-size: 22px;
    padding-left: 10px;
  }
  .nav-logo {
    padding: 0;
    margin: 0;
  }
  .my-skil {
    width: 33rem;
  }
}

@media (max-width: 403px) {
  .nav-logo a {
    font-size: 20px;
  }
  .container {
    padding: 2.8rem 2rem 10rem 2rem;
  }
  header .content h1 {
    font-size: 24px;
    line-height: 3rem;
  }
  header .content h4 {
    font-size: 25px;
  }
  .button a {
    font-size: 12px;
    padding: 15px 40px;
  }
  .icon-follow span {
    font-size: 25px;
  }
  .icon-follow h3 {
    font-size: 18px;
    padding: 5px 0 0 10px;
  }
  .about-text h2 {
    font-size: 50px;
    padding-bottom: 15px;
  }
  .about-text p {
    text-align: center;
  }
  footer {
    font-size: 10px;
  }
  .colum p {
    font-size: 10px;
  }
  .socials a span {
    font-size: 10px;
  }
  .colums a {
    font-size: 13px;
  }
  .tombol {
    display: flex;
    justify-content: center;
  }
  .tombol .button a {
    font-size: 1rem;
    padding: 20px 60px;
  }
  footer .colum .socials a {
    padding: 1px 12px 5px;
    margin: 0;
  }
  footer .logo {
    width: 74%;
    margin-left: 70%;
  }
  footer .colums h4 {
    margin-top: 8rem;
  }
  footer .colums a {
    margin: 1rem 10px;
  }
  .my-skil {
    width: 20rem;
  }
  .js {
    width: 20%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 60%;
  }
}

@keyframes js {
  0% {
    width: 0%;
  }

  100% {
    width: 20%;
  }
}
