@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,300&display=swap");

:root {
  --pri: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins";
  background-color: #efefea;
  padding: 1.2rem;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 5%;
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #aaa;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Bricolage Grotesque", sans-serif;
  color: blue;
}

.navbar .navbar-logo span {
  color: black;
}

.navbar .navbar-nav a {
  color: rgb(106, 106, 106);
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  margin: 0 0.5rem;
  font-weight: 700;
  transition: 0.3s;
}

.navbar .navbar-nav a i {
  font-size: 1.2rem;
}

.navbar .navbar-nav a:hover {
  color: #333;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.navbar .navbar-extra a {
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--pri);
}

#hamburger {
  display: none;
}
/* End Navbar */

/* Header */
header {
  max-width: 1200px;
  background-color: white;
  margin: 20px auto;
  padding: 40px;
  border-radius: 5px;
  padding-top: 2rem;
  /* position: absolute; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .content h1 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h1 span, .project .judul h1 span, .contact .content-text h1 span{
  color: blue;
  font-family: "Bricolage Grotesque", sans-serif;
}

header .content p {
  margin-bottom: 2rem;
  color: #555;
}

header .image {
  position: static;
}

header .image img {
  max-width: 600px;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: #1e40af;
  text-decoration: underline;
}
/* End Header */

/* About */
.about {
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px;
  background-color: white;
}

.about-me {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me img {
  width: 250px;
  border-radius: 10px;
}

.about-text {
  width: auto;
  margin-left: 20px;
  font-family: "Bricolage Grotesque", sans-serif;
}

.about-text h2 {
  color: #333;
  font-size: 65px;
  margin-bottom: 20px;
  border-bottom: 3px solid #1d4ed8;
}

.about-text h5 {
  color: #333;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 12px;
}

.about-text p{
  color: #555;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 28px;
  font-size: 18px;
  /* margin-top: 35px; */
  text-align: justify;
}
/* End About */

/* Skill */

.mySkill{
  max-width: 1200px;
  background-color: white;
  margin: 20px auto;
  padding: 40px;
  border-radius: 5px;
}

.mySkill h1{
  text-align: center;
  font-size: 40px;
  font-family: "Bricolage Grotesque", sans-serif;
}

.mySkill .bhs, .frame-alat{
  color: rgb(106, 106, 106);
  margin-top: 20px;
}

.mySkill .skill-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px 0;
  text-align: center;
}

.mySkill .skill-container .item, .child{
  background-color: #efefea;
  padding: 13px 40px;
  border-radius: 10px;
}

.mySkill .fram, .tools{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px 0;
  text-align: center;
}

.mySkill .fram .child i{
  font-size: 20px;
}

/* end skill */

/* Projek */

.project{
  max-width: 1200px;
  background-color: white;
  margin: 20px auto;
  /* padding: 40px; */
  border-radius: 5px;
}


.project .judul h1{
  padding-top: 20px;
  font-size: 35 px;
  text-align: center;
}

.project .judul p{
  margin: 10px 60px;
  /* width: 800px; */
  text-align: center;
}

.project .projek-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.project .projek-content .projek{
  background-color: #efefea;
  padding: 10px;
  border-radius: 5px;
}

.project .projek-content .projek .img-projek{
  width: 350px;
}

.project .projek-content .project-desk a{
  color: black;
}
.project .projek-content .project-desk a:hover{
  color: #1d4ed8;
  text-decoration: underline;
}

.project .projek-content .project-desk p{
  color: #6a6a6a;
  font-size: 12px;
}

/* end projek */

/* contact */

.contact{
  max-width: 1200px;
  background-color: white;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
}

.contact .content-text{
  text-align: center;
}

.contact .content-text p{
  margin: 20px 60px;
}

.contact .contact-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  width: 450px;
  border-radius: 5px;
}

.contact .row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  background-color: #efefea;
  border-radius: 5px;
}

.contact .row .map{
  width: 600px;
  height: 400px;
  /* margin: 0 0 20px 20px; */
}

.contact .contact-content .contact-inputs{
  width: 400px;
  height: 50px;
  border: 1px solid black;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 10px;
  font-family: "Poppins";
}

 .contact-content textarea{
  width: 400px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Poppins";
  padding: 20px;
  padding-top: 20px;
  border-radius: 20px;
}

.contact .contact-content button{
  padding: 1rem 1.5rem;  
  color: #fff;
  background-color: #1d4ed8;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  width: 400px;
}
/* end contact */

footer{
   max-width: 1200px;
   margin: 0 auto;
   text-align: center;
   color: #1a1f2c;
}

@media (max-width: 950px) {
  .mySkill .fram, .tools{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #hamburger {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 90%;
    left: -100%;
    background-color: white;
    width: 25rem;
    height: 100vh;
    transition: 0.8s;
  }

  .navbar .navbar-nav.active {
    left: 0;
  }

  .navbar .navbar-nav a {
    font-size: 1.4rem;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .navbar-nav a i {
    font-size: 1.6rem;
  }

  header {
    grid-template-columns: repeat(1, 1fr);
  }
  header .content p {
    text-align: justify;
  }
  header .image {
    grid-area: 1/1/2/2;
  }
  header .image img{
    width: 100%;
  }

  .about-me {
    flex-direction: column;
  }
  .about-me img{
    width: 100%;
  }
  .about-text h2{
    margin-top: 20px;
  }
  .about-text h5{
    margin-bottom: 12px;
  }

  .mySkill .skill-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .mySkill h1{
    font-size: 30px;
  }
  .mySkill .fram, .tools{
    grid-template-columns: repeat(2, 1fr);
  }

  .project .projek-content{
    grid-template-columns: repeat(2, 1fr);
  }
  .project .judul h1{
    font-size: 20px;
  }
  .project .judul p{
    margin: 10px 40px;
    font-size: 10px;
  }
  .project .projek-content .projek .img-projek{
    width: 100%;
  }

  .contact .row{
    grid-template-columns: repeat(1, 1fr);
  }
  .contact .row .map{
    margin: 0 auto;
    width: 100%;
  }
  .contact .contact-content{
    margin: 0 auto;
  }
}

/* HP */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  header .content{
    width: 100%;
  }
  header .content p {
    text-align: justify;
    font-size: 15px;
  }
  header .image img {
    width: 100%;
    
  }

  .about-me img{
    width: 100%;
  }
  .about-text h2{
    font-size: 50px;
  }
  .about-text p{
    font-size: 16px;
  }
  .about-text{
    margin: 0;
    width: 100%;
  }

  .mySkill .bhs, .frame-alat{
    font-size: 10px;
  }

  .project .projek-content{
    grid-template-columns: repeat(1, 1fr);
  }
}
